body{
    background-color: #fff5e1;
}

.logo-resto{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
/* section navbar*/

.navbar-nav{
   align-items: baseline;
    display: flex; 
    justify-content: center;
    font-weight: bold;
   
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='3'  d='M4 7h26M4 15h26M4 23h26'/%3E%3C/svg%3E");
    width: 40px; 
    height: 30px; 
    display: inline-block; 
  }
.btn-reservation{
    background-color: #ff4500;
    color: black;
    font-weight: 500;
    border-color: #FF4500;
    border-radius: 0 20px;
}
.btn-reservation:hover {
    border-color:#FF4500 ;
    background-color: #FF4500;
    color: #fff;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/pexels-chanwalrus-958545\ \(1\).jpg);
     background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 98vh;
    margin: 0px;
}
.btn-commander {
    background-color: #FF4500;
    color: white;
    border-radius: 0 20px;
    padding: 8px 0px;
}
.btn-commander a{
    color: black;
    text-decoration: none;
    padding: 8px;
font-weight: bold;
}
.btn-contacter {
    background-color: white;
    color: #FF4500;
    border-radius: 0 20px;
    padding: 8px 0px;
}
.btn-contacter a{
    color: #FF4500;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}
.btn-contacter:hover {
    background-color: #FF4500;
}
.btn-contacter:hover a{
    color: #fff;
}
.btn-commander:hover{
    background-color: #FF4500;
}
.btn-commander:hover a{
    color: white;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
/*section menu et offres speciales*/
h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ff4500;
    text-decoration-thickness: 3px;
}
/*MENU*/

.card-img-top{
    max-height: 392px;
}

/*offre special*/

.separateur{
    border: solid 2px black;
}

.jaune-orange{
    background-color: #FFC107;
    padding: 24px;
    border-radius: 20px;
}
.plus{
    float: inline-end;
    background-color: #FF4500;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
}

.bouton-offre{
    background-color: #FFC107;
}

.bouton-panier{
    background-color: #FF4500;
}

.list-group-item:active{
    background-color: #FFC107;
}
.list-group-item.active {
    background-color:#FFC107 ; 
    color: black; 
    font-weight: bold;
    border-color: #ff4500; 
}

/*MENU PAGE 2 */
.nos-menu h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ff4500;
    text-decoration-thickness: 3px;
    padding-bottom: 40px;
}
.dess{
    padding: 0px 120px;
}
/*RESERVATION*/
.formulaire{
    width: 80%;
}
.textra {
    height: 140px;
    
}
.formulaire, .formulaire-contact {
    background-color: #FFC107;
}
.formulaire .row{
    background-color: #d9a406;
    padding: 16px 8px;
}
.formulaire .btn, .formulaire-contact .btn{
    background-color: #FF4500;
    font-weight: bold;
    color:black;
    border-color: #FF4500;
}
.nos-boissons, .nos-plats, .nos-desserts{
    padding: 40px 0px;
}
.nos-menu button{
    background-color: #FFC107;
    font-weight: bold;
    color:black;
    border-color: #FFC107;
padding: 4px;
border-radius: 4px;
}
.nos-menu a{
    text-decoration: none;
    color: black;
}
.price{
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.menu .btn{
    background-color: #FF4500;
    border-color: #FF4500;
}
/*CALL TO ACTION*/
.cta{
    background-color: #FF4500;
    padding: 80px 0px;
}
.box-cta button{
    background-color: #FFC107;
    font-weight: bold;
    color:black;
    border-color: #FFC107;
padding: 8px;
border-radius: 4px;
border: #FFC107;
}
.box-cta{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 28px;
}
.box-cta a{
    color: black;
    text-decoration: none; 
    font-size: 28px;
}

 /*GALERIE*/
.image-galarie {
    position: relative; 
    overflow: hidden; 
    border-radius: 10px;
  } 
  .image-galarie img {
    display: block;
    width: 100%; 
    height: auto; 
    transition: transform 0.3s ease; 
  }
  
  .image-galarie:hover img {
    transform: scale(1.1);
  }
  .text-survol {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  .image-galarie:hover .text-survol {
    opacity: 2; 
  }
  .text {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: lighter;
  }

  .galarie .carousel{
    height: 300px;
    overflow: hidden;
}
.galarie .carousel-inner img{
       
          height: 300px;
        object-fit: cover;
      
}
.galarie .carousel-inner{
    height:488px;
  
}


/* style TEMOIGNAGES */
.testimonials-section{
    background: linear-gradient(to left, #f3bd50, #FFFFFF); 
	color: #fff;
    width: 80%;
}

.wrapper {
	padding: 80px 0;
}
.section-header {
	padding-bottom: 15px;
}
.section-header h2 {
	font-weight: 700;
}
.icon-area {
	text-align: center;
}
.icon-area i {
	font-size: 80px;
	margin-bottom: 20px;
}
.content p {
	width: 60%;
	margin: auto;
}
.img-area {
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	overflow: hidden;
    border: 10px ridge #FF4500;
	margin-bottom: 30px;
}
.img-area img {
	width: 100%;
}
.content h5 {
	font-weight: 900;
	margin-top: 15px;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators [data-bs-target] {
	width: 60px;
	height: 10px;
	background-color: #FF4500;
}


.animate__bounceInDown {
    animation-duration: 2s; 
  }
   /*contact*/
   .formulaire-contact{
    margin:auto;
    width: 80%;
    
   }
   .formulaire-contact a{
    color: black;
    text-decoration: none;
   }
   .form-table{
    width: 60%;
   }
   .form-text{
    width: 40%;
   }
   
   /*footer*/
   footer{
    background-color: black;
    color: #fff;
   }
   footer .logo-resto{
    width: 60px;
    height: 60px;
    border-radius: 100%;
   }
   footer a{
    color: #fff;
   }
   .img-reseaux{
    width: 50px;
    height: 50px;
    border-radius: 100%;
   }
   .bas-page{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 20px;
    
   }
   .reso, .liens{
    width: 40%;
   }
   .sunu{
    width: 60%;
   }
   .titre-footer{
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
   }
@media screen and (max-width: 768px) {
    .dess{
        padding: 0px 40px;
    }
    .cta{

        padding: 40px 0px;
    }
    .box-cta ,.cta a{
        font-size: 16px;
    }
    .formulaire-contact{
        display: flex;
        flex-wrap: wrap;
        
    }
    .form-table{
        width: 100%;
    }
    .form-text{
        width: 100%;
       }

    .bas-page{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 10px;
        
       }   
    .reso, .liens, .sunu {
        width: 100%;
       }
   
}