
.logo-resto{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.navbar-nav{
   align-items: baseline;
    display: flex; 
    justify-content: center;
    font-weight: bold;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='3'  d='M4 7h26M4 15h26M4 23h26'/%3E%3C/svg%3E");
    width: 40px; 
    height: 30px; 
    display: inline-block; 
  }

.btn-reservation{
    background-color: #ff4500;
    color: black;
    font-weight: 500;
    border-color: #FF4500;
    border-radius: 0 20px;
}


.btn-reservation:hover {
    border-color:#FF4500 ;
    background-color: #FF4500;
    color: #fff;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/pexels-chanwalrus-958545\ \(1\).jpg);

}
.hero h1 {
    color: #FFFFFF;
}
.slogan {
    color: #FFFFFF;

}
.btn-commander {
    background-color: #FF4500;
    color: white;
    font-weight: 500;
    border-radius: 0 20px;

}
.btn-contacter {
    background-color: white;
    color: #FF4500;
    font-weight: 500;
    border-radius: 0 20px;

}

.btn:hover {
    background-color: #FF4500;
    color: black;
}